<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onSignOut()">
        <ion-icon slot="icon-only" color="secondary" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Invoice</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-invoice-list [reload]="reloadHome"></app-invoice-list>


</ion-content>

<ion-fab vertical="bottom" horizontal="start" slot="fixed">
  <ion-fab-button color="danger" (click)="onAdd()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>