<div>
  <form *ngIf="form" [formGroup]="form">
    <ion-grid>
      <ion-row>
        <!-- <ion-col size-xs="6" size-md="3">
          <ion-item>
            <ion-label *ngIf="customer.firstName!=null">{{customer.firstName}} </ion-label>
            <ion-label *ngIf="customer && customer.firstName===undefined && !customerDetailsError">
              Enter Customer Details</ion-label>
            <ion-label *ngIf="customer && customer.firstName===undefined && customerDetailsError" color="danger">
              Enter Customer Details
            </ion-label>
            <ion-buttons slot="end">
              <ion-button (click)="onAddCustomer()">
                <ion-icon slot="icon-only" color="primary" name="person-add-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-col>

        <ion-col size-xs="6" size-md="3">
          <ion-item>
            <ion-label position="floating">InvoiceNumber</ion-label>
            <ion-input type="text" formControlName="invoiceNumber"></ion-input>
          </ion-item>
        </ion-col>

        <ion-col size-xs="6" size-md="3">
          <ion-item>
            <ion-label position="floating">Select Date</ion-label>
            <ion-datetime formControlName="invoiceDate"> </ion-datetime>
          </ion-item>
        </ion-col>

        <ion-col size-xs="6" size-md="3">
          <ion-item>
            <ion-label position="floating">Total</ion-label>
            <ion-input formControlName="total"> </ion-input>
          </ion-item>
        </ion-col> -->


        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
          <ion-card>
            <ion-item lines="none">
              <ion-card-header>
                <ion-card-subtitle>Bill To <span class="required-field"></span></ion-card-subtitle>
                <ion-card-subtitle>{{customer?.firstName}} {{customer?.lastName}}</ion-card-subtitle>
                <ion-card-subtitle *ngIf="customer.firstName">+91 {{customer?.phoneNumber}}</ion-card-subtitle>
                <ion-card-subtitle *ngIf="customer.firstName">
                  {{customer?.addressLine1}},
                  {{customer?.city}}, {{customer?.state}}, {{customer?.country}} <br />
                  {{customer?.email}} <br />
                  {{customer?.gstNumber}}
                </ion-card-subtitle>
              </ion-card-header>

              <ion-buttons slot="end">
                <ion-button (click)="onAddCustomer()">
                  <ion-icon slot="icon-only" color="primary" name="person-add-outline"></ion-icon>
                </ion-button>
              </ion-buttons>
            </ion-item>

          </ion-card>

        </ion-col>

        <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6">
          <ion-row>
            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">InvoiceNumber</ion-label>
                <ion-input type="text" formControlName="invoiceNumber"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">Invoice Date</ion-label>
                <ion-datetime formControlName="invoiceDate"> </ion-datetime>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">Po Number</ion-label>
                <ion-input type="text" formControlName="poNumber"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col size="6">
              <ion-item>
                <ion-label position="floating">Po Date</ion-label>
                <ion-datetime formControlName="poDate"> </ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>


      <ion-row>
        <!-- Duty Calculations -->
        <ion-col>
          <div formArrayName="products" *ngFor="let product of form.get('products')['controls']; let i = index;">
            <div [formGroupName]="i" class="product-field-container">
              <div class="product-title-container">
                <div class="product-title">Product - {{i + 1}}</div>
                <ion-button color="danger" (click)="removeProductFieldsToForm(i)">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
              </div>
              <ion-row>
                <ion-col size-md="8" size-sm="12">
                  <ion-item>
                    <ion-label position="floating">Description</ion-label>
                    <ion-input formControlName="description"> </ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size-md="4" size-sm="12">
                  <ion-item>
                    <ion-label position="floating">HSN</ion-label>
                    <ion-input formControlName="hsn"> </ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size-md="4" size-sm="12">
                  <ion-item>
                    <ion-label position="floating">GST Percentage</ion-label>
                    <ion-input formControlName="gstPercentage"> </ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size-md="4" size-sm="12">
                  <ion-item>
                    <ion-label position="floating">Price</ion-label>
                    <ion-input formControlName="price"> </ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size-md="4" size-sm="12">
                  <ion-item>
                    <ion-label position="floating">Quantity</ion-label>
                    <ion-input formControlName="quantity"> </ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size-md="3" size-sm="12">
                  <ion-item>
                    <ion-label class="opacity-7" position="floating">Taxable Value</ion-label>
                    <ion-input class="opacity-7" formControlName="taxableValue" readonly> </ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size-md="3" size-sm="12">
                  <ion-item>
                    <ion-label class="opacity-7" position="floating">Cgst Value</ion-label>
                    <ion-input class="opacity-7" formControlName="cgstValue" readonly> </ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size-md="3" size-sm="12">
                  <ion-item>
                    <ion-label class="opacity-7" position="floating">Sgst Value</ion-label>
                    <ion-input class="opacity-7" formControlName="sgstValue" readonly> </ion-input>
                  </ion-item>
                </ion-col>

                <ion-col size-md="3" size-sm="12">
                  <ion-item>
                    <ion-label class="opacity-7 bold" position="floating">Final Value</ion-label>
                    <ion-input class="opacity-7 bold" formControlName="finalValue" readonly> </ion-input>
                  </ion-item>
                </ion-col>
              </ion-row>
            </div>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-md="3" size-sm="6">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-card-subtitle>Total Taxable Value</ion-card-subtitle>
              <ion-card-title>{{form.value.totalTaxableValue}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size-md="3" size-sm="6">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-card-subtitle>Total Cgst Value</ion-card-subtitle>
              <ion-card-title>{{form.value.totalCgstValue}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size-md="3" size-sm="6">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-card-subtitle>Total Sgst Value</ion-card-subtitle>
              <ion-card-title>{{form.value.totalSgstValue}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col size-md="3" size-sm="6">
          <ion-card class="ion-text-center">
            <ion-card-header>
              <ion-card-subtitle>Total Final Value</ion-card-subtitle>
              <ion-card-title>{{form.value.totalFinalValue}}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="3" offset-sm="3">
          <ion-button expand="block" color="primary" (click)="onClick()">
            <ion-label color="light"> {{displayButtonText}}</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size-sm="3">
          <ion-button expand="block" color="danger" (click)="onCancel()">
            <ion-label color="light"> Cancel</ion-label>
          </ion-button>
        </ion-col>
      </ion-row>



    </ion-grid>

  </form>

  <ion-fab vertical="bottom" horizontal="start" slot="fixed">
    <ion-fab-button color="danger" (click)="addNewProductFieldsToForm()">
      <ion-icon name="add">Add Product</ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>